/*
 * SAMPLE CODE
 */

html {
    background: #E8E8E8;
    color: #4B4B4B;
    font-family: 'Open Sans', verdana, tahoma, arial;
    font-size: 14px;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
}

header {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px 0;
    padding: 20px;
    text-align: center;
    background: #F2F2F2;
    box-shadow: 1px 1px 1px 0px #8E8E8E;
    text-shadow: 1px 1px 0px #DCDCDC;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    box-shadow: 1px 1px 2px 0px #FFA6A6;
    transition: all .2s ease-in;
}

.form {
    max-width: 700px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: justify;
}

#response {
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;
}

.input {
    padding: 10px;
    border-radius: 10px;
    border: 0;
    margin: 2px 5px 2px 4px;
    font-size: 14px;
    font-weight: bold;
    color: #6F6F6F;
    text-shadow: 1px 1px 0px #EAEAEA;
    box-shadow: 1px 1px 2px 0px #B0B0B0;
    transition: background .2s ease-in;
    vertical-align: middle;
}

.capitalize {
    text-transform: capitalize;
}

.button {
    padding: 8px 12px;
    border-radius: 4px;
    background: #c10000;
    font-weight: bold;
    color: #ffffff;
    margin: 4px;
    text-shadow: 1px 1px 1px #8f2d2d;
    transition: all .2s linear;
    cursor: pointer;
}

.button:hover {
    background: #d42f2f;
    transition: all .2s linear;
}

.button-inactive {
    background: #494949 !important;
    text-decoration: line-through !important;
    cursor: default;
}

label {
    text-shadow: 1px 1px 1px #FFFFFF;
}

.label {
    text-transform: full-width;
    background: #b9b9b9;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 4px 0 0 4px;
    margin-right: -5px;
    box-shadow: 1px 1px 1px 0px #fcfcfc;
}
