/*
 * CSS REQUIRED FOR JQUERY PLUGIN
 */

.fg-error-input {
    background: #FFDFDF !important;
}

.fg-inline {
    display: inline-block !important;
    border: 0px;
    vertical-align: middle;
    margin-left: 5px;
}

.fg-additional {
    text-align: right;
    height: 10px;
    font-size: 10px;
    margin: 0px 10px 2px 0;
    line-height: 10px;
    color: #fe5c5c;
    text-shadow: 1px 1px 1px #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
}

.fg-red {
    color: #c10000 !important;
}

.fg-green {
    color: #30a630 !important;
}

.fg-orange {
    color: #f37c06 !important;
}

.fg-yellow {
    color: #eab300 !important;
}

.fg-required {
    color: #fe3939 !important;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 1px 1px 1px #FFB4B4;
}

.fg-author {
    opacity: .4;
    display: inline-block;
    text-align: right;
    font-size: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 1px #FFFFFF;
    transition: all .2s linear;
}

.fg-author:hover {
    opacity: .8;
    transition: all .2s linear;
}

.fg-author a {
    color: #e95858;
    text-decoration: none;
}

.fg-author a:hover {
    color: #b12f2f;
    text-decoration: none;
}
